/**** 
Reference Information

Mid Purple : #6F4A8E
Dark Purple: #221F3B 
Off Black: #050505
Off White: #EBEBEB

****/


/****
Base Attributes
****/
body {
    background-color: #221F3B;
    color: #EBEBEB;
}

p{
    font-size: 26px;
}

h1{
    font-size: 50px;
}

button{
    background-color: #6F4A8E;
    color: #EBEBEB;
    border-radius: 10px;
    font-size: 24px;
    padding: 5px;
}

#start{
    border: 1px solid black;
}

/****
Start Page
****/
.info{
    width: 75%;
    margin:auto;
    /* border: 2px solid purple; */
    text-align: center;
}

/****
Quiz Pages
****/

.trivia{
    width: 75%;
    margin: auto;
    /* border: 2px solid purple; */
    text-align: center;
    display: none;
}

/****
High Scores
****/

.scorecard{
    width: 75%;
    margin: auto;
    /* border: 2px solid purple; */
    text-align: center;
    display: none;
}